[build]
  command = "npm run netlify-build"
  functions = "netlify/functions"
  publish = "."

[functions]
  node_bundler = "esbuild"  
  external_node_modules = ["express"]

[[redirects]]
  from = "/users/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true